@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/homepage.css" rel="stylesheet" />


<div class="container mt-5">
    <div class="row pt-5 justify-content-center">
      
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Products" asp-action="ProductsPage">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-box-seam-fill icon"></i>
                        <h5 class="card-title">Ürünler</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="RawMaterial" asp-action="RawMaterialPage">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-bag-fill icon"></i>
                        <h5 class="card-title">Hammadeler</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Calculate" asp-action="CalculatePage">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-calculator-fill icon"></i>
                        <h5 class="card-title">Hesapla</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
