@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <input class="btn btn-primary" type="submit" value="Kayıt Ol" id="Register" onclick="RegisterUpdate()">
</div>
<script src="~/js/loginregister/register.js"></script>